.questiontable2{
    left: 20%;
    right: 5%;
    top: 10%;
    font-size: 15px;
    overflow-y:scroll;
    height:600px;
    position: absolute;
  }
  .questiontable2 table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .questiontable2 table td, .questiontable2 table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .questiontable2 table tr:nth-child(even){background-color: #f2f2f2;}
  
  .questiontable2 table tr:hover {background-color: #ddd;}
  
  .questiontable2 table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1c35b2;
    color: white;
  }
  ::-webkit-scrollbar{
    display: none;
  }
 

  