label{
    display:inline-block;
    padding:10px;
}
input[type="radio"]:hover{
    cursor:pointer;
}
label:hover{
    cursor:pointer;
}


.radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
  }
  .radio input {
    display: none;
  }
  .radio input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
  }
  .radio input + span:not(:empty) {
    padding-left: 30px;
  }
  .radio input + span:before, .radio input + span:after {
    content: "";
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
  }
  .radio input + span:before {
    background: #D1D7E3;
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  }
  .radio input + span:after {
    background: #fff;
    transform: scale(0.78);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  }
  .radio input:checked + span:before {
    transform: scale(1.04);
    background: #5D9BFB;
  }
  .radio input:checked + span:after {
    transform: scale(0.4);
    transition: transform 0.3s ease;
  }
  .radio:hover input + span:before {
    transform: scale(0.92);
  }
  .radio:hover input + span:after {
    transform: scale(0.74);
  }
  .radio:hover input:checked + span:after {
    transform: scale(0.4);
  }
  
  .radiodiv{
      background: #c9e6f5;
      font-weight:600;
      max-width: 50%;
  }

.examdiv{
    background-color: #d5fefd;
background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);

    font-size: 20px;
 text-align: left;
 margin-left:20px;
 padding:20px;
 margin-right: 20px;
}
.exambtndiv button{
    
    margin-bottom: 5px;
}
/* .questionName{
  font-size: 1.2em;
  font-weight: 600;
} */
.examdiv p{
  font-size: 1.2em;
  font-weight: 600;
}