.btn-group button {
    background-color: #0a9730; /* Green background */
    border: 1px solid rgb(38, 113, 11); /* Green border */
    color: white;
    margin:10px; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-weight:500;
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
 
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #c3f5d5;
    color:black;
  }