.questionTable{
  position: absolute;
  left: 20%;
  right: 5%;
  top: 27%;
  overflow-y:scroll;
  height:500px
}
.questionTable table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.questionTable table td, .questionTable table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.questionTable table tr:nth-child(even){background-color: #f2f2f2;}

.questionTable table tr:hover {background-color: #ddd;}

.questionTable table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1c35b2;
  color: white;
}